body{
    margin: 0;
}

/* =========================
   DARK MODE OVERRIDES
   ========================= */
body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-theme nav {
    background-color: #000 !important;
    border-bottom: 1px solid #333;
}

body.dark-theme .card, 
body.dark-theme .dialog-box {
    background-color: #1e1e1e;
    border-color: #333;
    color: #e0e0e0;
}

body.dark-theme input, 
body.dark-theme select, 
body.dark-theme button {
    background-color: #2c2c2c;
    color: white;
    border: 1px solid #555;
}

body.dark-theme table {
    border-color: #444;
}
body.dark-theme th {
    background-color: #333;
    border-color: #444;
}
body.dark-theme td {
    border-color: #444;
}

/* Ensure headings stay readable */
body.dark-theme h2, 
body.dark-theme h3, 
body.dark-theme h4 {
    color: #fff;
}
body.dark-theme .card h1,h2,h3,h4,h5,h6{
    color: black;
}

body.dark-theme .ticket { background: #e6fffa; padding: 10px; border: 1px dashed #009977; margin-top: 10px; color: black;}
body.dark-theme .bill { background: #fff3cd; padding: 10px; border: 1px dashed #ffc107; margin-top: 10px; color: black }